
RectanglesMerger/Assembly-CSharp.csproj
RectanglesMerger/.vsconfig
RectanglesMerger/.vs/RectanglesMerger/v17/.suo
RectanglesMerger/.vs/RectanglesMerger/FileContentIndex/read.lock
RectanglesMerger/.vs/RectanglesMerger/FileContentIndex/dc6298b6-93db-4261-a8e6-403f685f56d5.vsidx
RectanglesMerger/.vs/RectanglesMerger/FileContentIndex/77f836ad-4388-41fc-94ca-8b15990d6c0f.vsidx
RectanglesMerger/.vs/RectanglesMerger/FileContentIndex/77f836ad-4388-41fc-94ca-8b15990d6c0f.vsidx
RectanglesMerger/.vs/RectanglesMerger/FileContentIndex/dc6298b6-93db-4261-a8e6-403f685f56d5.vsidx
RectanglesMerger/.vs/RectanglesMerger/FileContentIndex/read.lock
RectanglesMerger/Assets/Resources/BillingMode.json.meta
RectanglesMerger/Assets/Resources/BillingMode.json
RectanglesMerger/Assets/Resources.meta
RectanglesMerger/Assembly-CSharp.csproj
RectanglesMerger/.vsconfig
RectanglesMerger/.vs/RectanglesMerger/v17/.suo
RectanglesMerger/.vs/RectanglesMerger/FileContentIndex/read.lock
RectanglesMerger/.vs/RectanglesMerger/FileContentIndex/dc6298b6-93db-4261-a8e6-403f685f56d5.vsidx
RectanglesMerger/.vs/RectanglesMerger/FileContentIndex/77f836ad-4388-41fc-94ca-8b15990d6c0f.vsidx
RectanglesMerger/.vs/RectanglesMerger/v17/.suo
RectanglesMerger/.vsconfig
RectanglesMerger/Assembly-CSharp.csproj
RectanglesMerger/Assets/Resources.meta
RectanglesMerger/Assets/Resources/BillingMode.json
RectanglesMerger/Assets/Resources/BillingMode.json.meta
RectanglesMerger/Assets/Scenes.meta
